* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "LatoFont";
  src: url(./../font/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "PoppinsFont";
  src: url(./../font/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "MonsterratFont";
  src: url(./../font/Montserrat/Montserrat-Regular.ttf);
}

nav {
  width: 100%;
  position: fixed;
  z-index: 999;
  background: rgb(26, 101, 151);
  /* background: white; */
  backdrop-filter: blur(30px);
}
/* rgb(26, 101, 151) */
.banner {
  width: 100%;
  height: 100vh;
  background-image: url(/src/assets/j/IMG_5582.jpg);
  background-position: center; 
  background-size: cover;
}

.c1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.c2{
  width: 100%;
  position: relative;
}

.welcome-container {
  /* text-align: center; */
  /* opacity: 0; */
  position: relative;
  top: 10%;
  animation: fadeIn 2s forwards;
  /* color: aliceblue; */
}
.containFooter{
  justify-content: space-between;
}

@media screen and (max-width: 720px){
  .containFooter{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .socialMedia{ margin-left: 15px; }
}